EDGE_RUNTIME_MODE=dev

MODBUS_SERIAL_PORT=COM3

CAMERA_MAIN_RTSP_URL=rtsp://admin:admin@192.168.0.11:554/live/main
CAMERA_11_RTSP_URL=rtsp://admin:admin@192.168.0.11:554/live/sub
CAMERA_12_RTSP_URL=rtsp://admin:admin@192.168.0.12:554/live/sub
CAMERA_13_RTSP_URL=rtsp://admin:admin@192.168.0.13:554/live/sub

DEMO_VIDEO_SOURCE=color=c=0x13294b:s=640x360:r=2
